.widget-basefavorite-{{id}} {
    position: relative;
}

.widget-basefavorite-{{id}} .title {
    position: absolute;
    top: 5px;
    width: 100%;
}

.widget-basefavorite-{{id}} .state_text {
    position: absolute;
    bottom: -3px;
    width: 100%;
}

.widget-basefavorite-{{id}} .logo {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
}

.widget-basefavorite-{{id}} .outer-image {
    position: absolute;
    top: 5px;
    width: 100%;
    bottom: 5px;
}

.widget-basefavorite-{{id}} .toggle-area {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
